<div class="toolbar">
    <h1 class="title">Farmer Dashboard</h1>

    <div class="dropdown">
        <button class="dropbtn">
            View <span class="arrow-down">▼</span>
        </button>
        <div class="dropdown-content">
            <a routerLink="/load-data">Load Data</a>
            <a href="#">Contractors</a>
            <a href="#">Retailer</a>
            <a routerLink="/labour-registration">Labour</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">
            <span class="icon-container">
                <i class="fas fa-user"></i>
            </span>
            {{ userName }} <span class="arrow-down">▼</span>
        </button>
        <div class="dropdown-content">
            <a routerLink="/updateFarmer/{{ userName }}">Profile</a> <!-- Pass username as parameter -->
            <a (click)="logout()">Logout</a> <!-- Assuming logout method is implemented -->
        </div>
    </div>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
