/* Ensure the body and html take full height */
body, html {
    height: 100%;
    margin: 0;
}

/* Center the forgot password form */
#forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0; /* Light background for contrast */
    background-image: url('../../../assets/forgot-password-bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#forgot-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: solid 5px #ff2c90;
    border-radius: 8px;
    text-shadow: 0 0 #000000;
    box-shadow: 0 0 28px rgb(170 130 255);
    background-color: rgb(255 255 255 / 50%);
}


h2 {
    text-align: center;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 11px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 27px;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}

/* Additional styles for links */
p {
    text-align: center;
    margin-top: 10px;
}

p a {
    color: #007BFF;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
