<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<footer class="footer mt-auto py-2 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h5>About Us_1</h5>
                <p style="text-align: justify;">Agro Connect Hub is dedicated to connecting farmers with the latest
                    resources and multiple technologies to enhance agricultural productivity and sustainability.</p>
            </div>
            <div class="col-md-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="#" class="text-white"><i class="fas fa-info-circle"></i> About Us</a></li>
                    <li><a href="#" class="text-white"><i class="fas fa-envelope"></i> Contact Us</a></li>
                    <li><a href="#" class="text-white"><i class="fas fa-user-secret"></i> Privacy Policy</a></li>
                    <li><a href="#" class="text-white"><i class="fas fa-file-contract"></i> Terms & Con.</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Useful Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"><i class="fas fa-newspaper"></i> News</a></li>
                    <li><a href="#" class="text-white"><i class="fas fa-blog"></i> Blog</a></li>
                    <li><a routerLink="/gallery" class="text-white"><i class="fas fa-images"></i> Gallery</a></li>
                    <li><a href="#" class="text-white"><i class="fas fa-book"></i> Resources</a></li>
                    <li><a href="#" class="text-white"><i class="fas fa-question-circle"></i> FAQs</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="https://whatsapp.com/channel/0029VaesPuI5Ejy5WdPnlu3J" target="_blank"  class="text-white"><i class="fab fa-whatsapp"></i> Whatsapp</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"><i class="fas fa-seedling"></i> Crop Management</a></li>
                    <li><a href="#" class="text-white"><i class="fas fa-paw"></i> Livestock Care</a></li>
                    <li><a href="#" class="text-white"><i class="fas fa-chart-line"></i> Market Trends</a></li>
                    <li><a href="#" class="text-white"><i class="fas fa-cloud-sun"></i> Weather Updates</a></li>
                    <li><a href="#" class="text-white"><i class="fas fa-recycle"></i> Sustainability</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>About Us_2</h5>
                <p style="text-align: justify;">Agro Connect Hub is dedicated to connecting farmers with the latest
                    resources and multiple technologies to enhance agricultural productivity and sustainability.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                <p>&copy; 2024 Agro Connect Hub. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>